body {
  margin: 0 auto;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;

  color: seashell;
  text-align: center;
}

  /* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px seashell solid;
  height: 69px;
  background-color: black;
  width: 100%;
  position: fixed;
}

img {
  height: 50px;
  padding-left: 10px;
}

a {
  color:seashell;
  padding: 10px;
  padding-right: 10px;
}

  /* Main content */
.hero-image {
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.hero-text {
  background-color: black;
  width: 100%;
  opacity: 0.8;
}

  /* Second content */
.section-2 {
  padding-top: 68px;
}

.side-by-side-container {
  display: inline-block;
  width: 1000px;
  font-weight: bold;
}

.side-by-side {
  display: inline-block;
  margin: 0 1%;
  width: 30%;
  height: auto;
}

.side-by-side-img {
  background-image: url("../images/img-berryblitz.jpg");
  background-size: 300px 200px;
  height: 200px;
  width: 300px;
}
.side-by-side-img2  {
  background-image: url("../images/img-spiced-rum.jpg");
  background-size: 300px 200px;
  height: 200px;
  width: 300px;
}
.side-by-side-img3 {
  background-image: url("../images/img-donut.jpg");
  background-size: 300px 200px;
  height: 200px;
  width: 300px;

}
.side-by-side-img4 {
  background-image: url("../images/img-myrtle-ave.jpg");
  background-size: 300px 200px;
  height: 200px;
  width: 300px;
}
.side-by-side-img5 {
  background-image: url("../images/img-bedford-bizarre.jpg");
  background-size: 300px 200px;
  height: 200px;
  width: 300px;
}

  /* LOCATION SECTION */
.section-3 {
  width:1200px;
  height:520px;
  margin: auto;
}

.location-background-image {
  background-image: url("../images/img-locations-background.jpg");
  background-size: 1200px 500px;
  width:1200px;
  height:500px;
  display: inline-block;
}

.locations {
  padding-top: 2%;
}

#h2 {
  flex-grow: 3;
}

.location-1, .location-2, .location-3 {
  display: inline-block;
  background-color: black;
  margin: 15px 40px;
  width: 300px;
  opacity: 0.9;
}

li {
  list-style-type: none;
  margin: 4% 0%;
  margin-right: 35px;
}

span {
  font-size: 18px;
}


  /* FOOTER */
