body {
  margin: 0 auto;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px white solid;
}

img {
  height: 50px;
  padding-left: 20px;
}

a {
  color:white;
  padding: 10px;
  padding-right: 20px;
}
